<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">新闻 RSS 源推荐</div>
    
    <div class="weui-panel__bd">
        <rssArticleDirective ng-repeat="article in model.article_list"> </rssArticleDirective>
    </div>
    
    <div class="button-sp-area">
        <button class="weui-btn weui-btn_plain-primary" ng-click="model.getMoreArticle()">加载</button>
    </div>
    <div class="weui-loadmore" ng-show="model.pageInformation.loading">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
    <div class="weui-loadmore weui-loadmore_line" ng-hide="model.pageInformation.still_have_next_or_not">
        <span class="weui-loadmore__tips">到底了</span>
    </div>
</div>