<article class="weui-article">
    <div class="weui-panel__hd">
        <i class="fa fa-arrow-circle-o-left goback left" aria-hidden="true" ng-click="goBack()"></i>
        新闻浏览
        <span class="article-star right" ng-click="starClick()">
            <i class="fa fa-star" aria-hidden="true" ng-show="star"></i>
            <i class="fa fa-star-o" aria-hidden="true" ng-hide="star"></i>
        </span>
    </div>
    <h1 class="article-title">
        {{article.title}}
    </h1>
    <section class="article-content">
        <ng-bind-html ng-bind-html="safeContent"> </ng-bind-html> 
        <!-- {{article.content}} -->
    </section>
</article>