<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">新闻 RSS 源推荐</div>
    <div class="button-sp-area">
        <a href="javascript:;" class="weui-btn weui-btn_plain-primary" ng-click="nextPage()">下一页</a>
    </div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">习近平主持中共中央政治局会议 听取2017年省级党委和政府脱贫攻坚工作成效考核情况汇报</h4>
            <p class="weui-media-box__desc">
                新华社北京3月30日电 中共中央政治局3月30日召开会议，听取2017年省级党委和政府脱贫攻坚工作成效考核情况汇报，对打好脱贫攻坚战提出要求。中共中央总书记习近平主持会议。

　　会议认为，党的十八大以来，在以习近平同志为核心的党中央坚强领导下，脱贫攻坚取得了决定性进展。中国特色脱贫攻坚制度体系全面建立，精准扶贫精准脱贫方略扎实推进，各方联动社会参与的大扶贫格局基本形成，创造了我国减贫史上最好成绩。2017年，党中央关于脱贫攻坚的决策部署得到全面贯彻落实，各地区各部门责任进一步强化，五级书记抓脱贫攻坚的思想自觉和行动自觉基本形成，精准扶贫精准脱贫政策措施落地见效，东西部扶贫协作全面提速，中央单位定点扶贫稳步推进，工作作风明显转变，脱贫攻坚迈上新的台阶。
            </p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">
                人民网评：“小组”变“委员会”，既是升格，更是升华！
            </h4>
            <p class="weui-media-box__desc">
                    3月28日，中央全面深化改革委员会召开了第一次会议。人们发现，此前的“中央全面深化改革领导小组”已经易名。从“小组”变身为“委员会”，党和国家机构改革不是简单的名称之别，改革深意值得仔细剖析。

                    习近平总书记在中央全面深化改革委员会第一次会议上明确指出，把中央全面深化改革领导小组改为委员会，是健全党对重大工作领导体制机制的一项重要举措。此乃点睛之意。有两个关键词务必注意：其一，“党”，这是推进改革的主体；其二，“重大工作领导体制机制”，这是改革落地的载体。简言之，从“小组”到“委员会”，表面是名称之变，本质是加强党对改革工作的领导、强化重大工作领导体制机制，确保党中央改革决策部署落到实处。 
            </p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">
                    国务院继续深化减税降费政策：企业减税再出利好 全年减4000亿元
            </h4>
            <p class="weui-media-box__desc">
                    央视网消息：昨天（28日），国务院常务会议再次推出3项举措，继续深化减税降费政策，预计全年将减轻企业税赋超过4000亿元，内外资企业同等受益。

                    举措一：增值税税率下降
             
                    国务院决定，将制造业等行业的增值税税率，从17%降低到16%；而交通运输、建筑和基础电信服务等行业，以及农产品等货物的增值税税率，从11%降至10%。
            </p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">
                    中国处于半岛外交的中心
            </h4>
            <p class="weui-media-box__desc">
                    中国处于半岛外交的中心

——国际媒体积极评价中朝领导人北京会谈

　　国际主流媒体今天十分关注中国国家主席习近平在北京会见到访的朝鲜劳动党委员长、国务委员会委员长金正恩并举行会谈。一些媒体表示，中朝两国领导人会晤是历史性的，这是金正恩继2011年从其父亲金正日手中接手朝鲜最高领导人职位后的首次出访，这也是朝美领导人会晤之前中国外交的一次重大举动。中国仍然在结束朝鲜核计划的努力中发挥着重要作用。
            </p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">
                    商务部：中方有底气 有信心应对任何贸易投资保护主义的做法
            </h4>
            <p class="weui-media-box__desc">
                    央视网消息：商务部今天上午召开例行发布会，新闻发言人对外发布近期商务领域重点工作情况，并现场回答媒体提问。

       中央人民广播电台记者提问：请问在美国总统特朗普此前宣布对华600亿美元商品征收关税和限制中国企业赴美投资，这一举措一旦实施，对于中国外贸，对中美贸易将产生多大程度、多大范围的影响？
            </p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">
                    【我们与总书记在一起】谱写新时代强军兴军的崭新篇章
            </h4>
            <p class="weui-media-box__desc">
                央视网消息（新闻联播）：12日上午，中共中央总书记、国家主席、中央军委主席习近平出席十三届全国人大一次会议解放军和武警部队代表团全体会议时强调，要扎扎实实推动军民融合深度发展，为实现中国梦强军梦提供强大动力和战略支撑。代表们说，一定坚决贯彻落实习主席重要讲话精神，奋力谱写新时代强军兴军的崭新篇章。
            </p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">
                    新起点，开启中国高质量发展新征程
            </h4>
            <p class="weui-media-box__desc">
                    新华社北京３月２８日电 题：新起点，开启中国高质量发展新征程

                    　　新华社记者 陈炜伟、申铖、郁琼源
                    
                    　　转向高质量发展，是新时代中国经济的鲜明特征。
                    
                    　　“推动经济高质量发展，要把重点放在推动产业结构转型升级上，把实体经济做实做强做优”“发展是第一要务，人才是第一资源，创新是第一动力”……今年全国两会期间，习近平总书记就推动经济高质量发展作出战略部署。
                    
                    　　逐梦新征程，激发新动力。
            </p>
        </div>
    </div>
    <div class="weui-panel__ft">
        <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">查看更多</div>
            <span class="weui-cell__ft"></span>
        </a>    
    </div>
</div>