<div class="register">
        <form id="registerForm">
          <div class="weui-cells__title">用户注册</div>
          <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
              <div class="weui-cell__hd">
                <label for="" class="weui-label">手机号</label>
              </div>
              <div class="weui-cell__bd weui-cell_primary">
                <input type="tel" name="phone_number" class="weui-input" required="" pattern="[\d]{8,11}" notmatchtips="请输入正确的手机号" placeholder="请输入手机号"
                  ng-model="registerInfo.phone_number">
              </div>
              <div class="weui-cell_ft">
                <i class="weui_icon_warn"></i>
              </div>
            </div>
            <div class="weui-cell">
              <div class="weui-cell__hd">
                <label for="" class="weui-label">密码</label>
              </div>
              <div class="weui-cell__bd weui-cell_primary">
                <input type="password" name="password" class="weui-input" required="" pattern="[\w]{6,}" notmatchtips="密码至少6位" placeholder="请输入密码"
                  ng-model="registerInfo.password">
              </div>
              <div class="weui-cell_ft">
                <i class="weui_icon_warn"></i>
              </div>
            </div>
          </div>
      
          <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary js_btn" ng-click="login()">登录</button>
          </div>
          <div class="weui-btn-area">
            <a href="#/register" class="weui-btn weui-btn_plain-primary">注册</a>
          </div>
        </form>
      </div>
      