<div class="weui-panel weui-panel_access">
    <i class="fa fa-arrow-circle-o-left" aria-hidden="true" ng-click="goBack()"></i>
    <div class="weui-panel__hd">阅读历史记录</div>

    <div class="weui-panel__bd">
        <div ng-repeat="article in article_list">
            <div ng-click="model.getArticleDetail(article.article_id)">
                <div class="weui-media-box weui-media-box_text" >
                    <h4 class="weui-media-box__title">
                        {{article.article.title}}
                    </h4>
                    <p class="weui-media-box__desc">
                        <!-- {{article.article.content}} -->
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>