<div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">收藏文章</div>
        
        <!-- <div class="weui-panel__bd">
            <rssArticleDirective ng-repeat="article in model.article_list"> </rssArticleDirective>
        </div> -->
    
        <div class="weui-panel__bd">
            <div ng-repeat="article in article_list">
                <div ng-click="model.getArticleDetail(article.id)">
                    <div class="weui-media-box weui-media-box_text" >
                        <h4 class="weui-media-box__title">
                            {{article.article.title}}
                        </h4>
                        <p class="weui-media-box__desc">
                            {{article.article.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- <div class="button-sp-area">
            <button class="weui-btn weui-btn_plain-primary" ng-click="model.getMoreArticle()" ng-show="model.pageInformation.still_have_next_or_not">加载</button>
        </div>
        <div class="weui-loadmore" ng-show="model.pageInformation.loading">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
        <div class="weui-loadmore weui-loadmore_line" ng-hide="model.pageInformation.still_have_next_or_not">
            <span class="weui-loadmore__tips">到底了</span>
        </div> -->
    </div>