<div class="weui-tabbar" ng-controller="TabController" ng-show="model.showTab">
    <a href="#/" class='weui-tabbar__item' ng-class="{'weui-bar__item_on': active[0]}" ng-dblclick="refresh()">
        <i class='fa fa-home weui-tabbar__icon' aria-hidden=true></i>
        <p class="weui-tabbar__label">主页</p>
    </a>
    <a href="#/user" class='weui-tabbar__item' ng-class="{'weui-bar__item_on': active[1]}">
        <i class='fa fa-user weui-tabbar__icon' aria-hidden=true></i>
        <p class='weui-tabbar__label'>我</p>
    </a>
</div>