<div class="weui-cells__title" style="text-align: center">个人主页</div>
<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd" ng-click="model.getHistoryList()">
            <p>阅读历史</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd" ng-click="model.getStarList()">
            <p>收藏夹</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
</div>