/* tab */
.weui-tab {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.star {
  visibility:hidden;
  font-size:30px;
  cursor:pointer;
}
.star:before {
 content: "\2606";
 position: absolute;
 visibility:visible;
}
.star:checked:before {
 content: "\2605";
 position: absolute;
}

img {
  width: 100%;
  height: auto;
}

.weui-panel__hd, .weui-cells__title {
  color: #09bb07;
  font-size: 1em;
  text-align: center;
}

.weui-cells {
  margin: 0;
}

i.goback {
  color: black;
  font-size: 20px;
}